<section class = "loginArea">
  <h1>ログイン</h1>

  <div class="row">
    <div class="span6 offset3 email-login">
      <legend>メールアドレスでログイン</legend>
     <!-- 値を送りたいときはform_for -->
     <%= form_for(:session, url: sessions_path) do |f| %>
     <div class = "wirteArea">

      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
      </div>

    </div>
    <%= f.submit "ログイン", class: "login-btn" %>
    <% end %>
    <!-- routesをみて、最後にpathをつけるだけで、飛んでくれます。 -->
    <p class = "hajimetedesuka">初めてですか？ <%= link_to "新規登録はこちら", new_user_path %></p>
    <%= link_to "パスワードを忘れた場合はこちら"  %>
  </div>

<div class = "or-login">
  または
</div>

<div class ="sns-login">
  <legend>SNSでログイン</legend>
  <div class="sns-login-item">
    <a href="#">
    <div class="sns-login-btn facebook-color">
      <i class="fa fa-facebook fa-lg"></i> facebookでログイン</div>
  </a>
  </div>
  <div class="sns-login-item">
    <a href="#">
      <div class="sns-login-btn twitter-color">
        <i class="fa fa-twitter fa-lg"></i> twitterでログイン</div>
      </a>
    </div>
  <div class="sns-login-item">
    <a href="#">
      <div class="sns-login-btn googleplus-color">
        <i class="fa fa-google-plus fa-lg"></i> google+でログイン</div>
      </a>
    </div>

</div>
</div>

</section>