<div class="row">
  <div class="span6 offset3">

    <%= form_for @user, html: { multipart: true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :名前 %><br>
        <%= f.text_field :name %>
      </div>

     
      <div class="field">
        <%= f.label :プロフィール画像 %><br>
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認）" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="field">
        <%= f.label :プロフィール %><br>
        <%= f.text_field :profile %>
      </div>
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-large btn-primary" %>
      </div>

      
    <% end %>

  </div>
</div>