<div class="row main-container">
  <aside class="span4 profile-box">
    <section>
      <h4>
        <%= profile_image_for @user %>
        <%= @user.name %>

        

      </h4>
      <p><%= @user.profile %></p>
      <%= link_to '編集', edit_user_path(@user) %>

    </section>
  </aside>
  <div class="span8">
    <% if @user.posts.any? %>
    <div class="myposts">
      <h3>自分の質問 (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
    </div>
       <h3>お気に入り</h3>
       <ol class="microposts">
         <%= render @user.favorite_posts %>
       </ol>  
       
      <%= will_paginate @posts %>
    <% end %>

  </div>
  <div class ="return-btn">
    <%= link_to '戻る', users_path %>
  </div>
     
</div>
