
<li class="answer-list">
  <%= profile_image_for(answer.user) %>
  <span class="user">
    <%= link_to answer.user.name, answer.user %>
  </span><br>
  
 
  <span class="content">回答</span>
  <span><%= raw answer.content %></span>
  
  <span class="timestamp">
    
  </span>
  <% if current_user?(answer.user) && @post.best_answer == 0 %>
    <%= link_to "ベストアンサーに選ぶ",posts_best_answer_path(id: answer.post.id, answer_id: answer.id) %>
    <%= link_to "回答を削除", answer, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: answer.content %>
  <% end %>
  <% if @post.best_answer == answer.id%>
  <i class="fa fa-check-square"></i>
  <% end %>
  
</li>
