
<li class="answer-list">
  
      
    <div class="answer-main">  
      <p class="good">


          <% if signed_in? %>
            <span id="answer_<%= answer.id %>">
              <%= render 'answer_goods/answer_good_btn', answer: answer %>
            </span>
            <span id="answer_good_<%= answer.id %>" class="answer_good-count">
              <%= pluralize(answer.answer_goods.count, "good") %>
            </span>
          <% end %>
           <div class="answer-img">
        
          <p class="best_answer"><%= render 'answers/best_answer', answer: answer %></p>
      </div>
        </p>
      <div class="user answer-user">
        <%= link_to answer.user.name, answer.user %>
      </div>
  
    </div>
  
  <!-- <span class="content">回答</span> -->
  <div>
    <div class="answer_content"><%= raw answer.content %></div>
         
         
  
  <span class="timestamp">
  </span>
  <div>
    <% if current_user?(answer.user) %>
     
      <%= link_to "回答を削除", answer, method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: answer.content ,
                                       class: "delete_answer"%>
    <% end %>
  </div>
  </div>

</li>
