
<%= form_for(@post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="post-form-title">
<div class="post-title">
	<%= f.text_field :title, placeholder: "タイトル（50字以内）" %>
</div>
</div>
<div class ="post-form-main"></div>
<div class="field">
	<%= f.text_area :content, placeholder: "質問内容（1000字以内）", :size=>"60x10" %>
</div>
<%= f.text_field :tag_list, placeholder: "タグ（記入例：PHP, JavaScript, Android, Ajax）" %>



<%= f.submit "質問する", class: "original-btn" %>

<% end %>
 <script type="text/javascript">
   CKEDITOR.replaceAll();
 </script>