
<%= form_for(@post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="post-form-title">
<div class="post-title">
	<%= f.text_field :title, placeholder: "タイトル" %>
</div>
</div>
<div class ="post-form-main"></div>
<div class="field">
	<%= f.text_area :content, placeholder: "質問内容" %>
</div>
<%= f.submit "質問する", class: "original-btn" %>
<% end %>