<% if(post.title) %>
<li>
  
 <span class="title">Title: <%= link_to post.title, post %></span>
  <span class="content">Question: <%= post.content %></span>
  <span id="post_<%= post.id %>">
    <%= render 'favorites/favorite_btn', post: post %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
  <% end %>
  
</li>

<% end %>