<div class="post-show container">
	<p id="notice"><%= notice %></p>
	<p>

		<h1>質問</h1>
		<div class="post-title">タイトル :</div>
	  <%= link_to @post.title, post_path %>


	</p>

	<p>
	  <strong>質問内容:</strong>
	  <%= @post.content %>
	</p>

	<p>
	  <strong>ユーザー:</strong>
	  <%= @post.user.name %>
	</p>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= tag.name %>
	<% end %>
</div>
<div class="container answerArea">
<% if signed_in?  %>
<%= render @post.answers  %>

<%= render 'answers/form' %>


<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>
<% end %>
</div>