<div class="post-show container">
	<!-- <p id="notice"><%= notice %></p> -->

		<div class="post-main-left">
			<div class="post-status2"></div>
			</div>
			<div class="post-main-right">
			<div class="post-head">
			<!-- <h1>質問</h1> -->
			<div class="post-title">
				<!-- <h3>タイトル :</h3> -->
				<%= link_to @post.title, post_path %>

			</div><br>
			<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
			<div class="original-tag post-tag"><%= link_to tag.name, tag_path(tag.id) %></div>
			<% end %>
			<div class="post-user-name">
				<!-- <strong>ユーザー:</strong> -->
				<%= @post.user.name %>
			</div>
			<div class="post-img"><%= question_image_post_for @post %></div>

		</div>
</div>

<div class="post-main-area">
	<p>
		<!-- <strong>質問内容:</strong> -->
		<%= raw @post.content %>
	</p>

</div>
</div>
<div class="container answerArea">
	<% if signed_in?  %>
	<ol class="microposts">
		<%= render @post.answers  %>

	</ol>

	<%= render 'answers/form' %>

	<% if @post.user_id == current_user.id %>

	<%= link_to '編集', edit_post_path(@post) %><!--  | -->
	<%#= link_to '戻る', posts_path %>
	<% end %>
	<% end %>
</div>
<script type="text/javascript">
CKEDITOR.replaceAll();
</script>