
<% if signed_in?  %>

<div class="container">

  <div class="span8 about-timeline">

    <% if @feed_posts.any? %>
    <h3>Posts</h3>
    <ol class="microposts">
      <%= render @feed_posts %>
    </ol>
    <%= will_paginate @feed_posts %>
    <% end %>
  </div>

  <div class="about-side">
    <a href="/question">
      <%= link_to '質問する', new_post_path %> 
    </a>
  </div>
</div>

<% else %>


<section class = "topArea">
  <div class="container">
    <h1>CodeMate</h1>
    <p class= "subtitle">日本人のためのプログラミング専門Ｑ＆Ａサイト</p>
    <p><a class="btn-lg midashi-btn" role="button" href = "/explanation">もっと詳しく &raquo;</a></p>

    <!-- <div class = "naiyou-btn"><a href="">もっと詳しく</a></div> -->
  </div>

</section>

<section class = "mainArea">
<div class="container main-content">
  <div class="row">
    <div class="col-md-9 content-area">

      <div class="span8 toplist about-timeline">
            <% if @feed_posts.any? %>
            <div class="timeline-navi">
              <div class ="timeline-navi-left"></div>
              <div class="timeline-btn-new">
               <h4>最新</h4>
              </div>
              <div class ="timeline-btn-space"></div>
              <div class="timeline-btn">
               <h4>人気</h4>
              </div>
                <div class="timeline-btn-space"></div>
              <div class="timeline-btn">
               <h4>未回答</h4>
              </div>
              <div class ="timeline-navi-right"></div>
            </div>
            <ol class="microposts">
              <%= render @feed_posts %>
            </ol>
            <%= will_paginate @feed_posts %>
            <% end %>
          </div>

          <div class ="original-side">
            <div class ="posts-number">
              <h4>現在の質問数</h4>
              <p>31,415,926</p>
            </div>
        <div class="col-md-3 top-side">
          <aside>
            <h4>人気のタグ</h4>
            <ol class="tag-lists">
              <li><a href="#" class="original-tag">java</a> (754405)</li>
              <li><a href="#" class="original-tag">javascript</a>(740619)</li>
              <li><a href="#" class="original-tag">c#</a>(726141)</li>
              <li><a href="#" class="original-tag">php</a>(671460)</li>
              <li><a href="#" class="original-tag">android</a>(597169)</li>
              <li><a href="#" class="original-tag">jquery</a>(555457)</li>
              <li><a href="#" class="original-tag">python</a>(364318)</li>
              <li><a href="#" class="original-tag">html</a>(360714)</li>
              <li><a href="#" class="original-tag">c++</a>(331823)</li>
              <li><a href="#" class="original-tag">ios</a>(289765)</li>
            </ol>
          </aside>
<!-- 
          <aside>
            <h4></h4>
            <ul class="list-unstyled">
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
            </ul>
          </aside> -->

        </div><!--/.sidebar-->
      </div>
    </div><!--/.main-content-->

    </section>
    <% end %>