<div class="container margin120">
<p id="notice"><%= notice %></p>

<p>
  <strong>メールアドレス:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>内容:</strong>
  <%= @inquiry.content %>
</p>

<%= link_to '編集する', edit_inquiry_path(@inquiry) %><!--  |
<%= link_to 'Back', inquiries_path %> -->
</div>